<form method='POST'>
  <label for='todo-input'></label>
  <input
    id='todo-input'
    type='text'
    name='todo'
    placeholder='Write a todo here'
  />

  <button type='submit'>Add</button>
</form>