<h1>Todo List</h1>
<p>Add something to do...</p>

{{> publishtodo}}

{{#each publications}}
  {{> publication}}
{{/each}}


{{!-- 
<form method='POST'>
  <label for='todo-input'></label>
  <input id='todo-input' type='text' name='todo' placeholder='Spotify lab' />

  <button>Add</button> --}}

