<form method='POST'>
  <label for='title-input'>Title</label>
  <input
    id='todo-input'
    type='text'
    name='todo'
    placeholder='Spotify lab'
    value='{{publication.title}}'
  />

  <button>Edit Todo</button>
</form>